Tools/src/com/meizu/downloadapk/Demo1.java
Tools/src/com/meizu/downloadapk/Demo2.java
Tools/src/com/meizu/tools/HttpUtils.java
Tools/src/com/meizu/downloadapk/Demo3.java
Tools/src/com/meizu/downloadapk/Demo4.java
*.class
Tools/bin/com/meizu/filemanage/CopyFile.class